
{% extends "html/base_perfil.html" %}
{% load static %}
<!-- ################################################################################################ -->

{% block content %}
<!-- contenido específico de la página index.html -->

<div class="wrapper row2">
  <nav id="mainav" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul class="clear">
      {% if mostrar_eventos %}
      <li>
        <a href="#">Eventos</a>
        <ul>
          <li><a href="{% url 'crear_evento' %}">Crear Evento</a></li>
          <li><a href="{% url 'listar_eventos' %}">Gestionar Eventos</a></li>
        </ul>
      </li>
      {% endif %}
      {% if mostrar_galerias %}
      <li>
        <a href="#">Galería</a>
        <ul>
          <li><a href="{% url 'crear_album' %}">Crear Album</a></li>
          <li><a href="{% url 'galeria_nueva' %}">Agregar imágenes a un álbum</a></li>
          <li><a href="#">Gestionar Álbumes existentes</a></li>
        </ul>
      </li>
      {% endif %}
      {% if mostrar_cargos %}
      <li>
        <a href="#">Cargos</a>
        <ul>
          <li><a href="{% url 'crear_cargo' %}">Crear Cargo</a></li>
          <li><a href="{% url 'listar_cargos' %}">Gestionar Cargos</a></li>
        </ul>
      </li>
      {% endif %}
      {% if mostrar_usuarios %}
      <li>
        <a href="">Gestión de Usuarios</a>
        <ul>
          <li><a href="{% url 'crear_usuario' %}">Crear Usuario</a></li>
          <li><a href="{% url 'listar_usuarios' %}">Gestionar Usuarios</a></li>
        </ul>
      </li>
      {% endif %}
      {% if mostrar_versiculos %}
      <li>
        <a href="#">Versículos</a>
        <ul>
          <li><a href="{% url 'listar_versiculos' %}">Gestionar Versículos</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
    <!-- ################################################################################################ -->
  </nav>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->

    <h1>Perfil de: <strong>{{ request.user.username }}</strong></h1>
    En esta pagina podrás administrar varios recursos de la aplicacion dependiendo del cargo que tengas,
    en el menu que se encuentra justo arriba podrá realizar las acciones correspondientes a tu cargo.




<!-- Mostrar acciones para el cargo A -->
      {% for cargo in cargos %}
          <p>{{ cargo.nombre }}</p>
      {% endfor %}  
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
  </div>
</div>
{% endblock %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
